
button {
    background-color: darkslategrey;
    color: white;
    padding: 10;
    border: none;
    border-radius: 5;
    cursor: pointer;
    margin: 5;
    width: 250;
}
entry {
    color: white;
    padding: 10;
    border: none;
    border-radius: 5;
    margin: 5;
    width: 250;
}
picker {
    color: white;
    padding: 10;
    border: none;
    border-radius: 5;
    margin: 5;
    width: 250;
}
.ClassNameEntry {
    color: white;
    padding: 10;
    border: none;
    border-radius: 5;
    margin: 5;
    width: 275;
}
.DeleteButton {
    background-color: red;
    color: white;
    padding: 10;
    border: none;
    border-radius: 5;
    cursor: pointer;
    margin: 5;
    width: 75;
    height: 40;
}
.PresenceLabel {
    color: gray;
    font-size: 15;
    margin: 10;
    padding: 10;
}
.NameLabel {
    color: white;
    font-size: 15;
}
.HeadLabel{
    font-size: 25;
}
#AddClassButton {
    background-color: darkslategrey;
    color: white;
    padding: 10;
    border: none;
    border-radius: 5;
    cursor: pointer;
    margin: 5;
    width: 250;
}
#AddStudentButtton {
    background-color: darkslategrey;
    color: white;
    padding: 10;
    border: none;
    border-radius: 5;
    cursor: pointer;
    margin: 5;
    width: 250;
}
#DeleteClass {
    background-color: red;
    color: white;
    padding: 10;
    border: none;
    border-radius: 5;
    cursor: pointer;
    margin: 5;
    width: 250;
}
#SelectStudent {
    background-color: darkslategrey;
    color: white;
    padding: 10;
    border: none;
    border-radius: 5;
    cursor: pointer;
    margin: 5;
    width: 250;
}